@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ForgetPassword" method="post">
    <div asp-validation-summary="All"></div>
    <br />
    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Forget Password" />
    <br />
</form>

