@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="ForgetPassword" method="post">
    <input type="hidden" asp-for="Email" hidden />
    <input type="hidden" asp-for="Token" hidden />
    <div asp-validation-summary="All"></div>
    <br />
    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <input type="submit" value="Change Password" class="btn btn-primary" />
    <br />
</form>


