@model LoginViewModel
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form asp-action="SignIn" method="post" class="mx-1 mx-md-4">
    <div asp-validation-summary="All"></div>

    <br />
    <input type="email" asp-for="Email" placeholder="Email" class="form-control" />
    <span asp-validation-for="Email"></span>
    <br />
    <input type="password" asp-for="Password" placeholder="Password" class="form-control" />
    <span asp-validation-for="Password"></span>
    <br />

    <br />
    <div class="wthree-text">
        <label class="anim">
            <input asp-for="RememberMe" type="checkbox" class="checkbox" required>
            <span>Keep Me Signed In</span>
        </label>
        <div class="clear"> </div>
    </div>
    <button type="submit" class="btn btn-secondary">Signin</button>
</form>

<p class="text-center text-white ">Don`t have an account? <a asp-action="Login">SignIn Now!</a></p>
<p class="text-center text-white "> <a asp-action="ForgetPassword">Forget Password!</a></p>
